html {
  font-size: 62.5%;
}

button {
  font-family: $font-default;;
}

.body-container {
  position: relative;
  min-height: 100vh;
  font-family: $font-default;
  font-size: $fs-default;
  font-weight: $fw-default;
  line-height: 1.5;
  text-rendering: optimizeSpeed;

  background-color: $clr-primary;
  background-image: url("../imgs/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  @include flex-center;

  @include mq-min($pc-min) {
    background-size: 100%;
  }

  @include mq-max($phone-max) {
    background-image: url("../imgs/pattern-background-mobile.svg");
    background-position: center top;
  }

  @include mq-min-max($phone-m, $phone-max) {
    background-size: 100%;
  }
}
