.card {
  background-color: $clr-white;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 4rem 4rem hsl(228, 87%, 39%, 15.18%);
  animation: show-in .5s;
  width: 45rem;
  height: 69.7rem;

  @include mq-max($phone-max) {
    width: 32.7rem;
    height: 56.7rem;
  }

  @include mq-max($phone-min) {
    width: 30rem;
    height: 51rem;
    margin: 1rem 0; // For small phone screens make gap on top & bottom
  }

  &__main {
    @include flex-col-center;
  }

  &__title,
  &__par {
    text-align: center;
  }

  &__title {
    $l-margin-t: 3.6rem;
    $l-margin-b: 1.5rem;
    $l-fs-default: 2.8rem;

    margin-top: $l-margin-t;
    margin-bottom: $l-margin-b;
    font-size: $l-fs-default;
    font-weight: $fw-max;
    color: $clr-blue-200;

    @include mq-max($phone-max) {
      margin-top: calc(#{$l-margin-t} - 1.2rem); // 2.4rem
      margin-bottom: calc(#{$l-margin-b} - .1rem); // 1.4rem
      font-size: calc(#{$l-fs-default} - .6rem); // 2.6rem
    }

    @include mq-max($phone-min) {
      margin-top: calc(#{$l-margin-t} - 2.5rem); // 1.1rem
      margin-bottom: calc(#{$l-margin-b} - 1.1rem); // .4rem
    }
  }

  &__par {
    $l-fs-default: 1.6rem;

    color: $clr-blue-500;
    font-size: $l-fs-default;
    line-height: 2.6rem;
    width: 30ch;

    @include mq-max($phone-max) {
      font-size: calc(#{$l-fs-default} - .1rem); // 1.5rem
      width: 27ch;
      line-height: 2.5rem;
    }

    @include mq-max($phone-min) {
      font-size: calc(#{$l-fs-default} - .2rem); // 1.4rem
    }
  }

  &__price {

    &-box {
      display: grid;
      grid-template-columns: auto 2fr auto;
      align-items: center;

      border-radius: 1.1rem;
      background-color: $clr-blue-1000;
      
      margin-top: 1.9rem;
      padding: 2.3rem 2.4rem;
      width: 35.4rem;
      height: 9.8rem;

      @include mq-max($phone-max) {
        margin-top: 2.3rem;
        padding: 1.7rem 1.6rem;
        width: 27.9rem;
        height: 8.1rem;
      }

      @include mq-max($phone-min) {
        margin-top: 1.5rem;
        padding: 1rem 1.6rem;
        width: 25rem;
      }
    }

    &-icon {
      margin-bottom: .1rem; // Just to make it pixel perfetct
    }

    &-plan {
      margin-left: 2rem;

      & h6,
      & p {
        @include mq-max($phone-max) {font-size: 1.4rem}
      }

      & h6 {
        color: $clr-blue-200;
        font-weight: $fw-max;
        margin-bottom: .3rem;

        @include mq-max($phone-max) {margin-bottom: 0}
      }

      & p {
        color: $clr-blue-400;
      }
    }

    &-change {
      transition: all .3s ease;
      color: $clr-primary-500;
      font-weight: $fw-max;

      font-size: 1.4rem;
      text-decoration-thickness: .2rem;
      text-underline-offset: .2rem;

      @include mq-max($phone-max) {
        font-size: 1.3rem;
        text-decoration-thickness: .1rem;
        text-underline-offset: .1rem;
      }

      &:hover {
        text-decoration: none;
        color: $clr-blue-700;
      }
    }
  }

  &__btns {
    margin-top: 3.2rem;
    @include flex-col-center(1.7rem);

    @include mq-max($phone-max) {
      margin-top: 2.4rem;
      gap: .9rem;
    }

    @include mq-max($phone-min) {
      margin-top: 1.5rem;
    }
  }
}

@keyframes show-in {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}